.C00 {
  margin: calc(50vh - 230px) auto;
  background-color: rgba(255,255,255,.05);
  border-radius: 25px;
  width: 320px;
  height: 460px;
}
.C01 {
  border-bottom: 1px solid rgba(255,255,255,.05);
  height: 90px;
}
.C02 {
  height: calc(100% - 90px);
}
.C04 {
  margin-top: 20px;
}
.C05 {
  width: 50%;
  float: left;
}
.I00 {
  line-height: 20px;
  margin: 10px 20px;
  display: inline-block;
  border: none;
  background-color: rgba(255,255,255,.1);
  padding: 10px 15px;
  border-radius: 7.5px;
  width: calc(100% - 40px);
  font-size: 1.2em;
  box-shadow: 0 3px 6px rgba(13,30,46,.1);
  text-align: center;
}
.S00 {
  line-height: 20px;
  margin: 10px 20px;
  display: inline-block;
  border: none;
  background-color: rgba(255,255,255,.1);
  padding: 9px 15px;
  border-radius: 7.5px;
  width: calc(100% - 40px);
  font-size: 1em;
  box-shadow: 0 3px 6px rgba(13,30,46,.1);
  text-align: center;
  border-right: 15px solid transparent;
}
.S00 option {
    color: rgba(13,30,46,1);
}
.T00 {
  position: absolute;
  left: 20px;
  margin-top: 35px;
  font-size: 1.1em;
  font-weight: 600;
}
.T01 {
  margin: 20px 20px 0;
}
.T02 {
  text-indent: 25px;
  font-size: .8em;
  color: rgba(248,80,103,1);
}
.T03 {
  text-indent: 25px;
  font-size: .8em;
  color: rgba(94,227,48,1)
}
.T04 {
  margin: 20px auto 10px;
  padding: 15px 30px;
  width: 120px;
  background: linear-gradient(170deg, rgba(225,203,215,1) -250%, rgba(112,50,255,1) 50%, rgba(248,80,103,1) 350%);
  border-radius: 10px;
  line-height: 20px;
  box-shadow: 0 3px 6px rgba(13,30,46,.3);
  transition: .3s;
  cursor: pointer;
  font-weight: 600;
  text-align: center;
}
.T04.isSign {
  background: linear-gradient(170deg, rgba(134,168,207,.75) -150%, rgba(225,203,215,.75) 50%, rgba(195,142,180,.75) 100%);
}
.T04:hover {
  opacity: .5;
  text-decoration: underline;
}