.C00 {
  height: 85px;
}
.C01 {
  margin: 10px 20px 20px;
  padding:20px;
  background-color: rgba(255,255,255,.05);
  border-radius: 25px;
  display: flex;
}
.C02 {
  width: calc(100% - 260px);
  height: fit-content;
  display: inline-block;
}
.C03 {
  width: 240px;
  background-color: rgba(13,30,46,.3);
  border-radius: 15px;
  margin-left: 20px;
  overflow: hidden;
  max-height: 660px;
}
.C05 {
  width: 100%;
  padding:20px;
  background-color: rgba(13,30,46,.3);
  border-radius: 15px;
  backdrop-filter: blur(30px);
}
.C06 {
  margin:20px 0;
  overflow-y: scroll;
  height: calc(100% - 40px);
}
.T00 {
  padding:20px 30px;
  margin: 30px auto 10px;
  width: fit-content;
  background-color: rgba(134,168,207,.5);
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
  transition: .3s;
}
.T00:hover {
  opacity: .5;
  text-decoration: underline;
}